plugins = []
headers = []
redirects = []

[functions]

  [functions."*"]

[build]
publish = "/opt/build/repo/public"
publishOrigin = "config"
commandOrigin = "config"
command = "pip install -r requirements.txt && python build_site.py"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]